@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
	margin: 0;
	padding: 0;
	text-transform: none;
}

html {
	-webkit-text-size-adjust: 100%;
}

html body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding-top: 0px;
}

a:active {
	outline: none;
	border: none;
}

a:focus {
	-moz-outline-style: none;
	outline: none;
}

body select::-ms-expand {
	display: none;
}

input::-moz-focus-inner,
button::-moz-focus-inner,
select::-moz-focus-inner,
option::-moz-focus-inner,
a::-moz-focus-inner,
button,
a {
	border: 0;
	outline: none;
}

*::-moz-selection {
	color: #fff;
	background: #000;
}

*::-webkit-selection {
	color: #fff;
	background: #000;
}

a,
a:hover,
a:active,
a:focus,
button {
	text-decoration: none;
}

*::after,
*::before,
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

ul,
ol {
	margin: 0;
	padding: 0;
	line-height: 1;
}

li {
	list-style: outside none none;
	position: relative;
}

body p {
	color: #333;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 160%;
	margin: 0 0 15px;
	padding: 0;
}

body p:empty {
	display: none;
	line-height: 0;
}

body p:last-child {
	margin: 0;
}

body p strong {
	font-weight: bold;
}

body a {
	color: #000;
}

body a:hover {
	color: #666;
}

* {
	outline: none !important;
	text-decoration: none;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
	font-family: "Poppins", sans-serif;
	line-height: 1.2;
	margin: 0 0 15px;
}

img {
	margin: 0 auto;
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	display: block;
}

.container {
	margin: 0 auto;
	position: relative;
	width: 100%;
	max-width: 1300px;
	padding: 0 15px;
}

.section-gapping {
	padding-top: 80px;
	padding-bottom: 80px;
}

.main-title {
	text-align: center;
	font-size: 40px;
	padding-bottom: 15px;
	position: relative;
	margin-bottom: 30px;
}

.main-title::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 50px;
	height: 5px;
	margin: 0 auto;
}

.blue-line::before {
	background-color: #76c3f2;
}

.yellow-line::before {
	background-color: #f3cb4b;
}

.red-line::before {
	background-color: #e44841;
}

.purple-line::before {
	background-color: #7e5197;
}

.text-center {
	text-align: center;
}

body .btn {
	color: #fff;
	background-color: #e4483f;
	border-radius: 5px;
	padding: 10px 20px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	transition: all 0.5s ease 0s;
	border: 2px solid #e4483f;
	text-transform: capitalize;
	font-size: 18px;
}

body .btn:hover {
	color: #e4483f;
	background-color: #fff;
}

body .btn-purple {
	background-color: #7852a1;
	border-color: #7852a1;
}

body .btn-purple:hover {
	color: #7852a1;
}

body .btn-blue {
	background-color: #76c3f2;
	border-color: #76c3f2;
}

body .btn-blue:hover {
	color: #76c3f2;
}

.btn-menu,
.btn-close {
	display: none;
}

.img-responsive {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/*************************************/

header {
	background-color: #fff;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	width: 100%;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 0;
}

.main-menu ul {
	display: flex;
	gap: 40px;
}

.main-menu ul li a {
	font-weight: 500;
}

.main-menu ul li a:hover,
.main-menu ul li a.active {
	color: #e67a36;
}

.banner-section .swiper-slide {
	height: 550px;
	overflow: hidden;
}

.banner-content {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	z-index: 1;
}

.banner-img {
	width: 100%;
	height: 100%;
	position: relative;
}

.banner-img::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.banner-content h2 {
	color: #f0ce41;
	font-size: 40px;
	position: relative;
	padding-bottom: 15px;
}

.banner-content h2::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 50px;
	height: 5px;
	background-color: #f0ce41;
}

.banner-content p {
	color: #fff;
	width: 100%;
	max-width: 600px;
}

.what-box {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 50px;
	margin-bottom: 40px;
	margin-top: 50px;
}

.what-box .box {
	background-color: rgb(119 196 243 / 10%);
	padding: 40px 20px 20px;
	text-align: center;
	position: relative;
}

.what-box .box h3 {
	position: absolute;
	top: -25px;
	left: 0;
	right: 0;
	margin: auto;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #76c3f2;
	color: #fff;
	font-size: 20px;
	border-radius: 50px;
}

.what-box .box h4 {
	font-size: 26px;
}

.stories-section,
.care-section {
	background-color: rgb(120 82 161 / 7%);
}

.stories-box {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 50px;
}

.stories-box .box {
	background-color: #fff;
	padding: 25px;
	border-radius: 15px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.stories-box .box h3 {
	font-size: 24px;
	color: #7852a1;
}

.partnerSlider .swiper-slide a {
	background-color: rgb(228 72 65 / 50%);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	border-radius: 5px;
	transition: all 0.5s ease 0s;
}

.partnerSlider .swiper-slide a:hover,
.partnerSlider .swiper-slide-active a {
	background-color: #e44841;
}

.donate-section {
	background-color: rgb(243 203 75 / 15%);
}

.donate-box h3 {
	font-size: 24px;
}

footer {
	padding: 30px 0;
}

.footer {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.footer p {
	margin: 0;
}

.footer p a {
	color: #7b529b;
	font-weight: 500;
}

.banner-section.inner-banner {
	height: 450px;
	overflow: hidden;
	position: relative;
}

.started-section .sub-title {
	margin-bottom: 50px;
	text-align: center;
}

.sub-title h3 {
	font-size: 28px;
	color: #546bbc;
}

.started-section .what-box {
	grid-template-columns: repeat(2, 1fr);
	margin: 0;
}

.work-section {
	background-color: rgb(228 72 65 / 10%);
}

.work-section ul {
	margin-bottom: 20px;
	margin-left: 20px;
}

.work-section ul li {
	list-style: disc;
	list-style-position: unset;
	margin-bottom: 10px;
	line-height: normal;
}

.join-section {
	background-image: url(../images/banner-03.jpg);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.join-section .container {
	max-width: 600px;
	color: #fff;
}

.join-section h3 {
	font-size: 30px;
}

.join-section p {
	color: #fff;
}

.care-box {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.care-box .box {
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
	padding: 20px;
}

.care-box .box .care-img {
	height: 250px;
	margin: -20px -20px 20px;
}

.care-box .box h3 {
	color: #7e5197;
	font-size: 22px;
}

/*********************/

.contact {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 50px;
}

.contact .col h2 {
    position: relative;
    padding-left: 15px;
    margin-bottom: 30px;
}

.contact .col h2::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	top: 0;
	width: 5px;
	background-color: #e44841;
}

.field-box,
.col-4 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.col-4 {
	grid-template-columns: repeat(4, 1fr);
}

.contact .field {
	margin-bottom: 15px;
}

.field label,
.custom-radio label {
	font-size: 14px;
	display: block;
	font-weight: 500;
}

.field label .required,
.custom-radio label .required {
	color: #ff0000;
}

.contact .field .input-field {
	width: 100%;
	border: 1px solid #ddd;
	min-height: 45px;
	padding: 15px;
	color: #333;
	font-size: 16px;
	font-weight: 500;
}

.contact .col-2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}

.custom-radio .field {
    display: inline-flex;
    gap: 5px;
    margin-top: 10px;
    font-weight: 500;
    align-items: center;
}

.contact-detail {
    margin-bottom: 30px;
}

.contact .contact-detail li {
	margin-bottom: 15px;
	display: flex;
	align-items: center;
	gap: 10px;
}

.contact .contact-detail li .icon {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d78ec6;
    border-radius: 50px;
    padding: 8px;
    color: #fff;
}

.contact .contact-detail li a:hover {
	color: #824da3;
}

.social-ul {
    display: flex;
    gap: 10px;
    align-items: center;
}

.social-ul li a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #e9783c;
    color: #fff;
    padding: 7px;
	cursor: pointer;
}

.social-ul li a:hover {
    background-color: #b9490d;
}